body{
    margin: 0px;
    padding: 0px;
    background-color: darkgray;
}
 
.container{
    display: flex;
    flex-direction: row;
}
.logo{
    margin: 0px;
    padding: 0px;

}

.item1{
    margin: 10px;
}

.oi{
    text-align: center;
    background-color: rgb(255, 232, 202);
    border-radius: 10px;
}

.texto1{
    margin: 5px;
    font-size:large;
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
}

.texto2{
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.texto3{
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.texto4{
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
}

.flex-container{
    margin: 20px;
    display: flex;
    
}